[submodule "source/berkeley_humanoid_lite_assets"]
	path = source/berkeley_humanoid_lite_assets
	url = https://github.com/HybridRobotics/Berkeley-Humanoid-Lite-Assets.git

[submodule "source/berkeley_humanoid_lite_lowlevel"]
	path = source/berkeley_humanoid_lite_lowlevel
	url = https://github.com/HybridRobotics/Berkeley-Humanoid-Lite-Lowlevel.git
